{% extends 'base1.html' %}


{% load static %}

{% block main_content %}



<!DOCTYPE html>
<html>
<head>
    <title>EC_Home</title>
 <!--    <style type="text/css">



        body {
            text-align: center;
        }
    </style> -->
</head>
<body>



        <div class="container">

            <ul class="my-2 my-lg-0">
                <li><a class="btn btn-primary mr-5 mb-3 mt-3" href="{% url 'Add_Voter' %}" role="button">Add Voter</a><br></li>
                <li><a class="btn btn-primary mr-5 mb-3" href="{% url 'Add_Candidate' %}" role="button">Add Candidate</a><br></li>
                <li><a class="btn btn-primary mr-5 mb-3" href="{% url 'View_Voters' %}" role="button">View Voters</a><br></li>
                <li><a class="btn btn-primary mr-5 mb-3" href="{% url 'View_Candidates' %}" role="button">View Candidates</a><br></li>
                <li><a class="btn btn-primary mr-5 mb-3" href="{% url 'Vote_Login' %}" role="button">Vote</a><br></li>
                <li><a class="btn btn-primary mr-5 mb-3" href="{% url 'Results' %}" role="button">Results</a><br></li>

            </ul>


        </div>
</body>
</html>




{% endblock %}
