{% extends 'base.html' %}

{% block main_content %}

<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <style type="text/css">
        .suc {
            width: 750px;
            padding: 10% 0 0;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="suc">
            <h1 class="h3 mb-3 font-weight-normal">Successfully entered the details!</h1>
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Back" onClick="">BACK</button>
    </div>
</body>
</html>
{% endblock %}
