{% extends 'base.html' %}


{% load static %}
{% load crispy_forms_tags %}


{% block main_content %}

<!DOCTYPE html>
<html>
<head>
    <title>Vote_Login</title>
    <style type="text/css">
        form {
            align: center;
        }
        .login-page {
            width: 360px;
            padding: 10% 0 0;
            margin: auto;
        }
        .ec_login_form {
            position: relative;
            z-index: 1;
            background: #ffffff;
            max-width: 360px;
            padding: 45px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login-page">
        <form class="ec_login_form" method='POST'> {% csrf_token %}
                  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                  {{ vote_login_form|crispy }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>

{% endblock %}
