{% extends 'base1.html' %}

{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% load static %}

{% block main_content %}



<!DOCTYPE html>
<html>
<head>
    <title>Vote</title>
    <style type="text/css">

        h1 {
            color: Blue;
        }
    </style>
</head>
<body>

    <h1 class="display-4">Select a Candidate</h1>


    <table class="table">
        <thead class="thead-dark">

            <tr>
                <th scope="col">Candidate ID</th>
                <th scope="col">Candidate Name</th>
                <th scope="col">Party Name</th>
            </tr>


        </thead>
            {% for r in all_list %}
                {% if r.ConstituencyID_id == C_ID %}
                    <tr>
                        <td>{{ r.Candidate_id }}</td>
                        <td>{{ r.Candidate_name }}</td>
                        <td>{{ r.Party_id.Party_name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
    </table>
    <div class="container">
    <form class="form" method='POST'> {% csrf_token %}
                {{ vote_form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Cast Vote</button>
        </form>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>




{% endblock %}

